<% @username = User.find(session[:user_id]).email %>
<% @user = @username.gsub(/@.*/, '') %>

<h1>Welcome <%= @user%>!</h1>
<p>Recent Posts:</p>


<% @posts = BlogPost.where(post_author: @username) %>


<% @posts.each do |post| %>
  <tr>
    <td><%= post.post_title %></td>
    <td><span class="posted"><%=  time_ago_in_words(post.post_time) %> ago.</span></td>
  </tr>
<% end %>

