<% @posts = BlogPost.where(post_tag: "NEWS") %>
<h1>News</h1>
<% @posts.each do |post| %> 
<% @title = post.post_title %> 
  <div class="entry">
    <h3><%= link_to @title, post %></h3>
    <p><%= sanitize(post.post_content) %></p>
    <div class="post_info_line">
      <span class="author">Posted by <%=  post.post_author.gsub(/@.*/, '') %></span>
      <span class="posted"><%=  time_ago_in_words(post.created_at) %> ago</span>
    </div>
	</div>
<% end %>

