<% @posts = BlogPost.all %>
<h1>Food</h1>
<% @posts.each do |post| %> 
<% if post.post_tag == "NEWS" %>
<% @title = post.post_title %> 
  <div class="entry">
    <h3><%= link_to @title, post %></h3>
    <p><%= sanitize(post.post_content) %></p>
    <div class="post_info_line">
      <span class="author">Posted by <%=  post.post_author.gsub(/@.*/, '') %></span>
      <span class="posted"><%=  time_ago_in_words(post.created_at) %> ago</span>
    </div>
	</div>
<% end %>
<% end %>
