<!-- Test For Uploading -->
<% youtube_embed('https://www.youtube.com/watch?v=LU3ePdTLS8I') %>
<div id="ytplayer"></div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/embed/QB4QZX_Vo4I";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '390',
      width: '640',
      videoId: 'M7lc1UVf-VE'
    });
  }
</script>
<iframe title="YouTube video player" width="640" height="390" src="https://www.youtube.com/embed/QB4QZX_Vo4I" frameborder="0" allowfullscreen></iframe> 