<% @username = User.find(session[:user_id]).email %>
<%= div_for blog_comment do %>
        <p>
                <strong>
                        Posted by: <%=@username %> <%= time_ago_in_words(blog_comment.created_at) %> ago
         
                </strong>
                <br/>
                <%= blog_comment.body %>
				
        </p>
<% end %>
